@model IEnumerable<ToDo>

<h2>To Do</h2>
<a asp-action="Create" class="btn btn-success mb-3">Create New</a>
<table class="table table-bordered table-striped ">
    <thead>
    <tr class="bg-warning ">
        <td>Title</td>
        <td>Date</td>
        <td>Is Done</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Date</td>
            <td>@item.IsDone</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>